*{
			box-sizing: border-box;
		}
		body{
			background-image: linear-gradient(to right,crimson,darkcyan);
			text-transform: capitalize;
			padding: 30px
		}
		.menubar{
			text-align: center;
			margin-top: 25px;
		}
		.menubar a{
			display: inline-block;
			width: 18%;
			background-color: rgba(255,99,71,0.8);
			padding: 15px 20px;
			color: rgba(255,255,255,0.9);
			text-decoration: none;
			font-size: 1.6em;
			margin:5px;
			border-radius: 2px;
			outline: none;
		}
		.link-hidden{
			text-decoration: none;
			color: rgba(255,255,255,0.8);
			background-color: rgba(255,99,71,0.8);
			padding: 10px 18px;
			border-radius: 2px;
			outline: none;
			clear: both;
		}
		.menubar a:hover, .link-hidden:hover{
			background-color: tomato;
			color: white;
		}
		.img{
			grid-area: img;
		}
		.price1{
			grid-area: price1;
			background: url('pasta.jpg') center center/cover no-repeat;
		}
		.price2{
			grid-area: price2;
			background: url('sandwich.jpg') center center/cover no-repeat;
		}
		.grid{
			display: grid;
			grid-gap: 20px;
			grid-template-areas: 'img img price1'
			                     'img img price2';
			grid-template-rows: 200px 200px;
			margin-top: 30px;
		}
		.img{
			background: url('fish.jpg') center center/cover no-repeat;
		}
		.price1,.price2{
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: rgba(255,255,255,0.3);
			transition: 0.4s;
		}
		.price1:hover, .price2:hover{
			color: tomato;
		}
		span{
			font-size: 4em;	
		}
		.price1 b,.price2 b{
			font-size: 1.5em;
		}
		.price1 p,.price2 p{
			cursor: default;
		}
		.tow-link{
			margin-top: 20px;
			margin-left: 20px;
		}
		.tow-link a, .reserve{
			display: inline-block;
			text-decoration: none;
			color: white;
			background-color: rgba(255,99,71,0.8);
			padding: 10px 20px;
			outline: none;
			border-radius: 2px;
		}
		.tow-link a:hover, .reserve:hover{
			background-color: tomato;
		}
		.tow-link a:hover{
			transform: scale(1.03);
		}
		.tow-link a:first-child{
			width: 150px;
			text-align: center;
			font-size: 1.3em;
		}
		.container1:after{ /* for that ".container1" not float on the ".container2" */
			content: "";
			clear: both;
			display: table;
		}
		.gallery{
			float: left;
			width: 25%;
			height: 230px;
			background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.6) );
			background-clip: content-box;
			padding: 10px;
			text-align: center;
		}
		.icon{
			margin-top: 10px;
		}
		.text-food{
			margin: 25px 10px 10px;
			color: #222;
		}
		.container2{
			background-color: white;
			padding: 20px;
			overflow: auto;
		}
		.container2 img{
			float: left;
		}
		.three-text{
			margin-left: 570px;
			margin-top: 200px;
		}
		.reserve{
			font-size: 1.3em;
		}
		.reserve:after{
			content: "\2192";
		}
		.box-footer{
			text-align: center;
		}
		.footer{
			display: inline-block;
		}
		.gra1{
			width: 43%;
			height: 15px;
			background-image: linear-gradient(to right, rgba(255,99,71,0), rgba(255,99,71,1) );
		}
		.gra2{
			width: 43%;
			height: 15px;
			background-image: linear-gradient(to right, rgba(255,99,71,1), rgba(255,99,71,0) );
		}
		.text{
			font-size: 1.5em;
			color: #222;
			margin: 0 10px;
		}

		@media screen and (max-width: 992px){
			.container2 img{
				float: none;
			}
			.three-text{
				margin-left: 50px;
				margin-top: -80px;
			}
			.gra1,.gra2{
				width: 100%;
			}
			.menubar{
				display: none;
			}
			.link-hidden{
				display: inline-block;
			}
		}

		@media screen and (max-width: 768px){
			.gallery{
				width: 50%;
			}
			.menubar a{
				width: 45%;
			}
		}
		@media screen and (max-width: 600px){
			.grid{
				grid-template-areas: 'img img'
				                     'price1 price2';
				grid-template-rows: 300px 150px;
			}
			.gallery{
				width: 100%;
			}
			.menubar a{
				width: 100%
			}
		}